<div class="item">
  <a class="item__image" href="{{ collection.url }}" style="background-image: url({{ collection.image | img_url: 'large' }});"></a>
  <div class="item__details">
    <a href="{{ collection.url }}"><h4>{{ collection.title }}</h4></a>
  </div>
</div>
