<div class="care">
  <h4>Care instructions</h4>
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-wash.svg' | asset_url }}" alt="Wash" /></div>
    <span>Machine wash cold, inside-out, gentle cycle with mild detergent and similar colors. Use non-chlorine bleach, only when necessary. No fabric softeners.</span>
  </div>
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-tumble.svg' | asset_url }}" alt="Dry" /></div>
    <span>Tumble dry low, or hang-dry for longest life.</span>
  </div>
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-iron.svg' | asset_url }}" alt="Iron" /></div>
    <span>Cool iron inside-out if necessary. Do not iron decoration.</span>
  </div>
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-dryclean.svg' | asset_url }}" alt="Dry Clean" /></div>
    <span>Do not dry clean.</span>
  </div>
</div>
