<!-- /templates/customers/register.liquid -->
{% section 'hero' %}
<section class="main">
  {% form 'create_customer' %} {{ form.errors | default_errors }}
  <div class="customer__form">
    <label for="first_name">First name</label>
    <input id="first_name" type="text" value="" name="customer[first_name]" size="30" />
  
    <label for="last_name">Last name</label>
    <input id="last_name" type="text" value="" name="customer[last_name]" size="30" />

    <label for="email">Email address</label>
    <input id="email" type="email" value="" name="customer[email]" size="30" />
  
    <label for="password">Password</label>
    <input id="password" type="password" value="" name="customer[password]" size="30" />
  
    <input type="submit" value="Create" />
  </div>
  {% endform %}
</section>
