html {
  overflow-y: scroll;
  background: #0b0911;
}

body {
  display: flex;
  flex-direction: column;
  background: #1B172D;
  font-family: Poppins;
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
  max-width: 1366px;
  min-height: 100vh;
  margin: auto;
}

main {
  flex: 1;
}

footer {
  background-color: #231E3A;
  padding: 28px 20px;

  @media screen and (min-width: 1440px) {
    padding: 28px 100px;
  }
}
