<section class="hero">
  <div class="hero__banner" style="background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/ecc995c6-71fa-4f41-a499-c4215aeb622b-profile_banner-480.png);"></div>
  <div class="profile">
    <div class="profile__avatar">
      <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/8079a92f-c2b1-4ec8-9a2d-97391f50201c-profile_image-300x300.png" alt="darkosto" />
    </div>
    <div class="profile__details">
      <div class="profile__name">
        <span>darkosto</span>
        <img src="{{ 'verified-badge.svg' | asset_url }}" alt="Verified User" />
      </div>
      <div class="profile__stats">
        <span>69,915 followers</span>
        <span>5,870,824 views</span>
      </div>
    </div>
  </div>
</section>
