.selector-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 120px;

  label {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
    
    &:after {
      content: ":"
    }
  }
}

.single-option-selector, .quantity {
  background: #FFFFFF;
  border: 1px solid rgba(68, 68, 68, 0.2);
  box-sizing: border-box;
  border-radius: 3px;

  padding: 8px 14px;
  color: #444;
  font-size: 14px;
  line-height: 165%;
  height: 40px;
}
