{% section 'hero' %}
<section class="main">
  <div class="product-grid">
    {% paginate collection.products by 12 %}
      {% for product in collection.products %}
        {% include 'product-grid-item' with product %}
      {% else %}
        {% include 'collection-empty' %}
      {% endfor %}
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %}
  </div>
</section>
