{% section 'hero' %}
<section class="main">
  <div class="collection-grid">
    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' %}
        {% include 'collection-grid-item' with collection %}
      {% endunless %}
    {% endfor %}
  </div>
</section>
