{% section 'hero' %}
<section class="main">
  <div class="product-grid">
    {% for product in collections.frontpage.products limit:4 %}
      {% include 'product-grid-item' with product %}
    {% else %}
      {% include 'collection-empty' %}
    {% endfor %}
  </div>
</section>
  