.cart {
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 20px;
    }

    form {
      width: 90%;

      @media screen and (min-width: 1440px) {
        width: 60%;
      }
    }

    .item {
      &__container {
        display: flex;
        flex-direction: row;
      }

      &__image {
        height: 120px;
      }

      &__details {
        flex: 1;
        max-width: 420px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &__quantity {
        display: none;
        padding: 10px;

        @media screen and (min-width: 1024px) {
          display: block;
        }

        & input {
          max-width: 100px;
        }
      }
      
      &__price {
        padding: 10px 0;
      }
    }
  }
  
  &__summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h4 {
      margin-bottom: 10px;
    }
  }
}
