.collection {
  &--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    user-select: none;

    span {
      margin-top: 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #463D6D;
    }
  }
}
