.customer {
  &__form {
    display: flex;
    flex-direction: column;

    input[type="submit"] {
      align-self: center;
      width: 120px;
    }
  }

  &__register {
    font-size: 14px;
    text-align: center;
  }
}

form#create_customer, form#customer_login {
  padding: 10px;
  max-width: 500px;
  margin: auto;

  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}
