.product {
  .container__item--flex {
    &:last-child {
      flex: 1 0 25%;
      max-width: 500px;
    }
  }

  .carousel {
    img {
      max-width: 100%;

      @media screen and (min-width: 1440px) {
        & {
          max-width: 668px;
        }
      }
    }
  }

  &__meta, &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 1440px) {
      padding-left: 100px;
      flex-direction: row;
    }

    .container__item--flex:last-child {
      box-sizing: border-box;

      @media screen and (min-width: 1440px) {
        border-left: 2px solid #463D6D;
      }
    }
  }

  &__meta {
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #272141;

    h4 {
      line-height: 20px;
    }

    .container__item--flex {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      white-space: nowrap;
 
      &.meta span {
        opacity: 0.5;
      }
    }

    .profile {
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      margin: 0;

      &__avatar {
        width: 58px;
        height: 58px;
        min-width: 58px;
        min-height: 58px;
        border-width: 2px;

        @media screen and (min-width: 1440px) {
          margin: 20px 0 20px 20px;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;
      
        @media screen and (min-width: 1440px) {
          & {
            margin: 0 10px;
          }
        }
      }

      &__name {
        align-items: center;

        span {
          font-size: 16px;
          line-height: 24px;
        }

        img {
          height: 14px;
          margin: 0px 0px 0px 8px;
        }
      }

      &__stats {
        a {
          user-select: auto;
        }
      }
    }
  }

  &__description {
    font-size: 14px;
    line-height: 24px;

    .container__item--flex:first-child {
      padding: 10px 20px;
    }

    @media screen and (min-width: 1440px) {
      .container__item--flex:first-child {
        padding: 40px 60px 40px 0;
      }
    }
  }
}
