.product {
  .carousel {
    img {
      max-width: 100%;

      @media screen and (min-width: 1440px) {
        & {
          max-width: 668px;
        }
      }
    }
  }

  &__hero, &__meta {
    .container__item--flex {
      &:last-child {
        flex: 1 0 25%;
        max-width: 500px;
      }
    }
  }

  &__meta, &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 1440px) {
      padding-left: 100px;
      flex-direction: row;
    }
  }

  &__hero {
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;

    @media screen and (min-width: 1440px) {
      height: 668px;
      flex-direction: row;
    }
  }


  &__form {
    form {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
    }

    h1 {
      font-size: 42px;
      line-height: 50px;
    }

    .price {
      font-size: 32px;
      line-height: 48px;
      color: #52CCDE;
    }

    .add-to-cart {
      width: 200px;
    }
  }


  &__meta {
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #272141;

    h4 {
      line-height: 20px;
    }

    .container__item--flex {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      white-space: nowrap;

      &:last-child {
        box-sizing: border-box;

        @media screen and (min-width: 1440px) {
          border-left: 2px solid #463D6D;
        }
      }
 
      &.meta span {
        opacity: 0.5;
      }
    }

    .profile {
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      margin: 0;

      &__avatar {
        width: 58px;
        height: 58px;
        min-width: 58px;
        min-height: 58px;
        border-width: 2px;

        @media screen and (min-width: 1440px) {
          margin: 20px 0 20px 20px;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;
      
        @media screen and (min-width: 1440px) {
          & {
            margin: 0 10px;
          }
        }
      }

      &__name {
        align-items: center;

        span {
          font-size: 16px;
          line-height: 24px;
        }

        img {
          height: 14px;
          margin: 0px 0px 0px 8px;
        }
      }

      &__stats {
        a {
          user-select: auto;
        }
      }
    }
  }

  &__description {
    font-size: 14px;
    line-height: 24px;

    .container__item--flex:first-child {
      padding: 10px 20px;

      @media screen and (min-width: 1440px) {
        & {
          padding: 40px 60px 40px 0;
        }
      }
    }

    .container__item--flex:last-child {
      padding: 10px 20px;
      box-sizing: border-box;
      max-width: 500px;
      margin-right: 0;

      @media screen and (min-width: 1440px) {
        & {
          padding: 30px 10px;
          border-left: 2px solid #463D6D;
        }
      }
    }

    .container__item--flex:first-child:last-child {
      max-width: 100%;
      margin-right: 100px;

      @media screen and (min-width: 1440px) {
        border-left: none;
      }
    }

    .care {
      h4 {
        margin: 10px;
      }

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;
          min-width: 30px;
        }
      }
    }
  }
}
