.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    margin: -8px -16px;
  }

  & .grid-item {
    height: 370px;
  }
}
